- content_for(:title, 'Confirmez votre adresse email')

.container.devise-container.devise-confirmations
  .one-column-centered
    %h1.center Votre lien de confirmation est invalide

    %p.confirmation-preamble
      Le lien de confirmation que vous venez d'utiliser est invalide : cela peut arriver
      s'il a expiré ou lors une erreur de copier/coller, par exemple.
      Nous ne pouvons donc pas activer votre compte, car nous n'avons pas de garantie que vous avez bien fait la demande initiale.

    %p.confirmation-instructions
      %strong Afin d'activer votre compte,
      nous devons vous renvoyer un autre lien de confirmation.
      Vous pouvez en recevoir un en remplissant le formulaire ci-dessous.

    .confirmation-resend

      = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { class: 'form' }) do |f|
        = f.label :email, 'Votre email'
        %br
        = f.email_field :email, placeholder: 'Email', class: 'small', autofocus: true
        = f.submit 'Renvoyer un email de confirmation', class: 'button'
