- content_for(:title, 'Confirmez votre adresse email')

- content_for :footer do
  = render partial: 'root/footer'

.container.devise-container.devise-confirmations
  .one-column-centered
    - if resource.confirmed?
      = render partial: "account_already_confirmed"
    - elsif resource.errors.empty?
      = render partial: "confirmation_sent"
    - else
      = render partial: "invalid_token"
